@charset "utf-8";

/* color:#0064dc; */

/* common */
.a11y,
.blind {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -9999em;
  left: -9999em;
  display: block;
  text-indent: -9999em;
  font-size: 0 !important;
  line-height: 0 !important;
}
.pc_block {
  display: block;
}
.m_block {
  display: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 320px;
  background: #ffffff;
  box-sizing: border-box;
  z-index: 2000;
}
.header_wrap {
  position: relative;
  height: 118px;
  padding: 0;
  background: #ffffff;
  transition: all 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 14px 36px rgba(0, 0, 0, 0);
}
.header_wrap.open {
  box-shadow: 0 14px 36px rgba(0, 0, 0, 0.06);
}
.header_wrap:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 94px;
  width: 148px;
  height: 150px;
  background: url(../images/menu_babi.svg) center center no-repeat;
  background-size: 148px 150px;
  transition: all 0.3s ease;
  opacity: 0;
}
.header_wrap.open:before {
  opacity: 1;
  transition-delay: 0.15s;
}
.header_wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}
.header_wrap .inner {
  padding: 0 80px;
}

.header_logo {
  position: absolute;
  top: 44px;
  left: 80px;
}
.header_logo a {
  display: block;
  width: 177px;
  height: 50px;
  background: url("../images/logo.svg") center center no-repeat;
  background-size: auto 50px;
}

.nav {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
.nav .gnb {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}
.nav .gnb .mn_l1 {
  position: relative;
  width: calc(100% / 7);
}
.nav .gnb .mn_l1:nth-child(2),
.nav .gnb .mn_l1:nth-child(4),
.nav .gnb .mn_l1:nth-child(7) {
  max-width: 120px;
}
.nav .gnb .mn_l1 .mn_a1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 46px 0 39px;
  border-bottom: 2px solid transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.08em;
  color: #000000;
  transition: all 0.3s ease;
  font-family: "OnemobileT", sans-serif;
  box-sizing: border-box;
}
.nav .gnb .mn_l1:hover .mn_a1,
.nav .gnb .mn_l1:focus .mn_a1,
.nav .gnb .mn_l1 .mn_a1:hover,
.nav .gnb .mn_l1 .mn_a1:focus {
  color: #0067db;
  border-color: #0067db;
}
.nav .gnb .mn_l1 .mn_a1.lh {
  gap: 0 6px;
}
.nav .gnb .mn_l1 .mn_a1.lh .lh_mn {
  display: block;
  width: 28px;
  height: 15px;
  background: url("../images/menu_lh.svg") center left no-repeat;
  background-size: 28px 15px;
}
.nav .gnb .depth2 {
  display: block;
  position: relative;
  padding: 30px 0;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  box-sizing: border-box;
}
.nav .gnb .depth2 .mn_l2 {
  position: relative;
  width: 100%;
  text-align: center;
}
.nav .gnb .depth2 .mn_l2 + .mn_l2 {
  margin-top: 18px;
}
.nav .gnb .depth2 .mn_l2 .mn_a2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.06em;
  color: #444444;
  transition: all 0.3s ease;
}
.nav .gnb .depth2 .mn_l2 .mn_a2 span {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: #444444;
  transition: all 0.3s ease;
}
.nav .gnb .depth2 .mn_l2 .mn_a2:hover span,
.nav .gnb .depth2 .mn_l2 .mn_a2:focus span {
  color: #0067db;
}
.nav .gnb .depth2 .mn_l2 .mn_a2 + .depth3 {
  margin-top: 10px;
}
.nav .gnb .depth3 {
  position: relative;
}
.nav .gnb .depth3 .mn_l3 + .mn_l3 {
  margin-top: 10px;
}
.nav .gnb .depth3 .mn_l3 .mn_a3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.06em;
  color: #707070;
  transition: all 0.3s ease;
}
.nav .gnb .depth3 .mn_l3 .mn_a3 span {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.06em;
  color: #707070;
  transition: all 0.3s ease;
}
.nav .gnb .depth3 .mn_l3 .mn_a3:hover span,
.nav .gnb .depth3 .mn_l3 .mn_a3:focus span {
  color: #000000;
  text-decoration: underline;
}

.rnb {
  position: absolute;
  top: 47px;
  right: 80px;
}
.rnb .utill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  position: relative;
}
.rnb .utill .utill_btn {
  transition: all 0.3s ease;
}
.rnb .utill .utill_btn.search {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/ico_search.svg") center center no-repeat;
  background-size: 24px 24px;
}
.rnb .utill .utill_btn.community {
  display: block;
  width: 26px;
  height: 24px;
  background: url("../images/ico_community.svg") center center no-repeat;
  background-size: 26px 24px;
}
.rnb .utill .utill_btn.sitemap {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/ico_sitemap.svg") center center no-repeat;
  background-size: 24px 24px;
}
.rnb .utill .utill_btn:hover {
  transform: translateY(3px);
}
.rnb .utill .mobile_btn {
  display: none;
}
.allmenu {
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 10;
}
.allmenu .allmenu_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104px;
  padding: 11px 14px;
  background: #eef3f8;
  border-radius: 8px;
  box-sizing: border-box;
}
.allmenu .allmenu_btn .btn_text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #000000;
}
.allmenu .allmenu_btn .ico {
  display: block;
  position: relative;
  width: 18px;
  height: 12px;
  background: url("../images/ico_utill_menu_b.svg") center center no-repeat;
  background-size: 18px 12px;
}

/* footer */
#footer {
  position: relative;
  width: 100%;
  min-height: 822px;
  background: #f8f9fa;
  padding: 77px 0 100px;
}
#footer #gnb-gotop {
  position: absolute;
  z-index: 255;
  top: -35px;
  right: 14vw;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #0064dc;
}
#footer #gnb-gotop .gotop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all 0.3 ease;
}
#footer #gnb-gotop .gotop-btn > span {
  display: block;
  width: 16px;
  height: 19px;
  background: url("../img/Main/ico_topbtn.svg") no-repeat;
}
#footer #gnb-gotop .gotop-btn:hover,
#footer #gnb-gotop .gotop-btn:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.27);
}

#footer .inner {
  display: block;
  max-width: 1320px;
}
.footer_wrap {
  position: relative;
  width: 100%;
}
.footer_wrap.top {
  margin-bottom: 62px;
}
.footer_nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px 20px;
  position: relative;
}
.footer_nav .mn_l1 {
  position: relative;
}
.footer_nav .mn_l1 .mn_a1 {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.8px;
  color: #000000;
  transition: all 0.3s ease;
  font-family: "OnemobileT", sans-serif;
  box-sizing: border-box;
}
.footer_nav .mn_l1 .mn_a1:hover,
.footer_nav .mn_l1 .mn_a1:focus {
  color: #0067db;
}
.footer_nav .mn_l1 .mn_a1.lh {
  gap: 0 6px;
}
.footer_nav .mn_l1 .mn_a1.lh .lh_mn {
  display: block;
  width: 24px;
  height: 12px;
  background: url("../images/menu_lh.svg") center left no-repeat;
  background-size: 24px 12px;
}
.footer_nav .depth2 {
  display: block;
  position: relative;
}
.footer_nav .depth2 .mn_l2 {
  display: block;
  position: relative;
  width: 100%;
}
.footer_nav .depth2 .mn_l2 .mn_a2 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: #444444;
  transition: all 0.3s ease;
}
.footer_nav .depth2 .mn_l2 .mn_a2:hover,
.footer_nav .depth2 .mn_l2 .mn_a2:focus {
  color: #000000;
  text-decoration: underline;
}
.footer_nav .depth3 {
  display: block;
  position: relative;
}
.footer_nav .depth3 .mn_l3 {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}
.footer_nav .depth3 .mn_l3 .mn_a3 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.08em;
  color: #707070;
  transition: all 0.3s ease;
}
.footer_nav .depth3 .mn_l3 .mn_a3:hover,
.footer_nav .depth3 .mn_l3 .mn_a3:focus {
  color: #000000;
  text-decoration: underline;
}

.footer_wrap.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 20px;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
}
.footer_menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
  position: relative;
}
.footer_menu .footer_menu_item {
  position: relative;
}
.footer_menu .footer_menu_item a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease;
}
.footer_menu .footer_menu_item a.privacy,
.footer_menu .footer_menu_item a:hover,
.footer_menu .footer_menu_item a:focus {
  color: rgba(0, 0, 0, 1);
}
.family_site {
  position: relative;
}
.family_site .family_site_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #212121;
  box-sizing: border-box;
}
.family_site .family_site_btn .tit {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.family_site .family_site_btn .ico {
  display: block;
  width: 6px;
  height: 5px;
  background: url("../images/ico_family_arrow.svg") center center no-repeat;
  background-size: 6px 5px;
  transition: all 0.3s ease;
}
.family_site .family_site_btn.open .ico {
  transform: rotate(180deg);
}
.family_list {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  background: #ffffff;
  box-sizing: border-box;
}
.family_list .family_link {
  display: block;
  padding: 4px 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #000000;
  transition: all 0.3s ease;
}
.family_list .family_link:hover,
.footer_top .family_site_box .family_link:focus {
  color: #0064dc;
}

.footer_wrap.info {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.footer_logo {
  position: relative;
  margin-right: 68px;
}
.footer_logo a {
  display: block;
  width: 212px;
  height: 60px;
  background: url("../images/footer_logo.svg") center center no-repeat;
  background-size: auto 60px;
}
.footer_info {
  position: relative;
}
.footer_info .tel_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 40px;
  position: relative;
  margin-bottom: 30px;
}
.footer_info .tel_list .tel_list_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.footer_info .tel_list .tel_list_item .tit {
  margin-right: 12px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #707070;
}
.footer_info .tel_list .tel_list_item .number {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: #000000;
  font-family: "Montserrat", san-serif;
}
.footer_info .address {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #707070;
}
.footer_info .copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #888888;
}
.footer_symbol {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 12px;
  position: relative;
  margin-left: auto;
}
.footer_symbol .symbol_item {
  display: block;
  position: relative;
}
.footer_symbol .symbol_item.symbol01 a {
  display: block;
  width: 72px;
  height: 72px;
  background: url("../images/footer_symbol01.svg") center center no-repeat;
  background-size: 72px 72px;
}
.footer_symbol .symbol_item.symbol02 a {
  display: block;
  width: 72px;
  height: 72px;
  background: url("../images/footer_symbol02.svg") center center no-repeat;
  background-size: 72px 72px;
}

/* sitemap */
#sitemap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9999;
}
#sitemap:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -40px;
  left: 20px;
  width: 240px;
  height: 265px;
  background: url("../images/img_zibi_big.svg") center center no-repeat;
  background-size: 240px auto;
  opacity: 0.4;
}
#sitemap:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -40px;
  right: 20px;
  width: 240px;
  height: 247px;
  background: url("../images/img_babi_big.svg") center center no-repeat;
  background-size: 240px auto;
  opacity: 0.4;
}
#sitemap .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1320px;
}
#sitemap .sitemap-list {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#sitemap .sitemap-list .list-box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}
#sitemap .sitemap-list .list-box .site-line {
  position: relative;
  width: calc(100% / 7);
  padding: 20px 10px;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}
#sitemap .sitemap-list .list-box .site-line:first-child {
  border-left: 1px solid #eeeeee;
}
#sitemap .sitemap-list .list-box .site-line .dpth1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.08em;
  color: #000000;
  font-family: "OnemobileT", sans-serif;
  box-sizing: border-box;
}
#sitemap .sitemap-list .list-box .site-line .dpth1.lh {
  gap: 0 3px;
}
#sitemap .sitemap-list .list-box .site-line .dpth1.lh .lh_mn {
  display: block;
  width: 28px;
  height: 15px;
  background: url("../images/menu_lh.svg") center left no-repeat;
  background-size: 28px 15px;
}
#sitemap .sitemap-list .list-box .site-line .dpth2-list {
  margin-top: 20px;
}
#sitemap .sitemap-list .list-box .site-line .dpth2-item .dpth2 {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.06em;
  color: #444444;
}
#sitemap .sitemap-list .list-box .site-line .dpth2-item .dpth2:hover {
  color: #000000;
  text-decoration: underline;
}
#sitemap .sitemap-list .list-box .site-line .dpth3-item {
  padding-left: 10px;
}
#sitemap .sitemap-list .list-box .site-line .dpth3-item .dpth3 {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.08em;
  color: #707070;
}
#sitemap .sitemap-list .list-box .site-line .dpth3-item .dpth3:hover {
  color: #000000;
  text-decoration: underline;
}
#sitemap .close-btn {
  display: block;
  position: absolute;
  top: 36px;
  right: 68px;
  width: 48px;
  height: 48px;
  padding: 15px;
  border-radius: 150px;
  background-color: #f8f9fa;
}
#sitemap .close-btn .ico {
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/ico_close_btn.svg") center center no-repeat;
  background-size: 18px 18px;
}

#mobile-wrap {
  display: none;
}

@media screen and (max-width: 1680px) {
  .header_wrap:before {
    right: 20px;
  }
  .header_wrap .inner {
    padding: 0 20px;
  }
  .header_logo {
    left: 20px;
  }
  .header_logo a {
    width: 155px;
    height: 44px;
    background-size: 155px 44px;
  }
  .nav {
    max-width: 1040px;
  }
  .rnb {
    right: 20px;
  }

  #sitemap .close-btn {
    right: 20px;
  }
}

@media screen and (max-width: 1480px) {
  .nav {
    max-width: 900px;
  }
  .nav .gnb .mn_l1 .mn_a1 {
    font-size: 17px;
  }
  .nav .gnb .mn_l1 .mn_a1.lh {
    gap: 0 4px;
  }
  .nav .gnb .mn_l1 .mn_a1.lh .lh_mn {
    width: 25px;
    height: 14px;
    background-size: 25px 14px;
  }
}

@media screen and (max-width: 1280px) {
  .header_wrap {
    height: 80px !important;
    border-bottom: 1px solid #eeeeee;
  }
  .header_wrap:after {
    display: none;
  }
  .header_logo {
    top: 20px;
  }
  .nav {
    display: none;
  }
  .rnb {
    top: 28px;
  }
  .rnb .utill .utill_btn.sitemap {
    display: none;
  }
  .rnb .utill .mobile_btn {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/ico_sitemap.svg") center center no-repeat;
    background-size: 24px 24px;
  }
  #sitemap {
    display: none !important;
  }

  /* mobile menu */
  #mobile-wrap {
    display: block;
  }
  #mobile-nav {
    position: fixed;
    top: 0;
    right: -320px;
    width: 100%;
    max-width: 320px;
    height: 100%;
    background: #ffffff;
    z-index: 9999;
  }
  #mobile-nav .mnb_inner {
    padding: 24px 15px 40px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #mobile-nav .mnb_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 24px;
  }
  #mobile-nav .mobile_logo {
    display: block;
    width: 155px;
    height: 44px;
    background: url("../images/logo.svg") center center no-repeat;
    background-size: auto 44px;
  }
  #mobile-nav .close-mnb-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 0;
    background: url("../images/ico_close_btn.svg") center center no-repeat;
    background-size: 16px 16px;
  }
  #mobile-nav #mnb {
    position: relative;
  }
  #mobile-nav .mb_ml1 {
    display: block;
  }
  #mobile-nav .mb_ml1 .mb_ma1 {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: -0.05em;
    color: #000000;
    font-family: "OnemobileT", sans-serif;
  }
  #mobile-nav .mb_ml1 .mb_ma1.on {
    background: #e4eaef;
    color: #003399;
  }
  #mobile-nav .mb_ml1 .mb_ma1:active:after,
  #mobile-nav .mb_ml1 .mb_ma1:focus:after {
    transform: translateY(-50%) rotate(270deg);
  }
  #mobile-nav .mb_ml1 .mb_ma1 span {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.05em;
    color: #000000;
  }
  #mobile-nav .mb_mdp2 {
    display: none;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background: #f8f9fa;
    box-sizing: border-box;
  }
  #mobile-nav .mb_mdp2 .mb_ml2 .mb_ma2 {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.05em;
    color: #222222;
  }
  #mobile-nav .mb_mdp2 .mb_ml2:last-child .mb_ma2 {
    margin-bottom: 0;
  }
  #mobile-nav .mb_mdp2 .mb_ml2 .mb_ma2.on {
    color: #0067db;
  }
  #mobile-nav .mb_mdp2 .mb_ml2 .mb_ma2:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 150px;
    background-color: #0067db;
  }
  #mobile-nav .mb_mdp2 .mb_ml2 .mb_ma2:hover,
  #mobile-nav .mb_mdp2 .mb_ml2 .mb_ma2:focus,
  #mobile-nav .mb_mdp2 .mb_ml2 .mb_ma2:hover,
  #mobile-nav .mb_mdp2 .mb_ml2 .mb_ma2:focus {
    color: #0067db;
  }
  #mobile-nav .mb_mdp3 {
    position: relative;
  }
  #mobile-nav .mb_mdp3 .mb_ml3 .mb_ma3 {
    display: block;
    position: relative;
    padding: 5px 0 5px 14px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.06em;
    color: #707070;
  }
  #mobile-nav .mb_mdp3 .mb_ml3:last-child .mb_ma3 {
    margin-bottom: 10px;
  }
  #mobile-nav .mb_mdp3 .mb_ml3 .mb_ma3:hover,
  #mobile-nav .mb_mdp3 .mb_ml3 .mb_ma3:focus {
    color: #000000;
    text-decoration: underline;
  }

  .mobiledim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9000;
  }

  #footer #gnb-gotop {
    right: 2vw;
  }
}

@media screen and (max-width: 1024px) {
  .pc_block {
    display: none;
  }
  .m_block {
    display: block;
  }

  #footer {
    min-height: auto;
    padding: 50px 0 100px;
  }
  .footer_nav .mn_l1 .mn_a1 {
    font-size: 15px;
  }
  .footer_nav .depth2 .mn_l2 .mn_a2 {
    font-size: 15px;
  }
  .footer_nav .depth3 .mn_l3 .mn_a3 {
    font-size: 13px;
  }
  .footer_menu {
    gap: 20px;
  }
  .footer_menu .footer_menu_item a {
    font-size: 15px;
  }
  .footer_logo {
    margin-right: 50px;
  }
  .footer_logo a {
    width: 141px;
    height: 40px;
    background-size: 141px 40px;
  }
  .footer_info .tel_list {
    flex-wrap: wrap;
    gap: 0 20px;
    margin-bottom: 20px;
  }
  .footer_info .tel_list .tel_list_item .tit {
    margin-right: 8px;
    font-size: 14px;
  }
  .footer_info .tel_list .tel_list_item .number {
    font-size: 20px;
  }
  .footer_info .address {
    margin-bottom: 4px;
    font-size: 14px;
    letter-spacing: -0.08em;
  }
  .footer_info .copyright {
    letter-spacing: -0.08em;
  }
}

@media screen and (max-width: 840px) {
  .footer_nav {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer_nav .mn_l1 {
    width: calc(100% / 4 - 20px);
  }
  .footer_logo {
    margin-right: 30px;
  }

  #footer #gnb-gotop {
    top: -28px;
    width: 56px;
    height: 56px;
  }
  #footer #gnb-gotop .gotop-btn {
    width: 56px;
    height: 56px;
  }
  #footer #gnb-gotop .gotop-btn > span {
    width: 13px;
    height: 15px;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .footer_wrap.top {
    display: none;
  }
  .footer_menu {
    justify-content: center;
    width: 100%;
  }
  .family_site {
    width: 100%;
  }
  .family_site .family_site_btn {
    width: 100%;
  }
  .footer_wrap.info {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 0;
  }
  .footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }
  .footer_info {
    width: 100%;
    text-align: center;
  }
  .footer_info .tel_list {
    justify-content: center;
  }
  .footer_symbol {
    justify-content: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
